<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALS-Collaborative Korean</title>
        <link rel="stylesheet" href="/css/design.css" type="text/css">
    </head>
    <body>
        <% 
            var title = "Task 1: Vowels and consonants";
            var progress = 5;
            var exercise = 1;
        %>
        <!--Create ProgressBar on top-->
        <progress-bar progress = <%=progress%> title = "<%= title %>" ></progress-bar> 

        <!--Create english-korean labels-->
        <eng-kor-label english = "Meu1" korean = "므" pos = "topleft"></eng-kor-label>
        <eng-kor-label english = "Meu2" korean = "므" pos = "topright"></eng-kor-label>
        <eng-kor-label english = "Meu3" korean = "므" pos = "downleft"></eng-kor-label>
        <eng-kor-label english = "Meu4" korean = "므" pos = "downright"></eng-kor-label>
        <button class="button btnNext" onclick="goNext();"><h1 class="nextText">Next</h1></button>
    </body>

    <script>
        function goNext(){
            window.location.replace("/apple/1/<%=exercise%>");
        }
    </script>
    <script src = "/js/progressBar.js"></script>
    <script src = "/js/engKorLabel.js"></script>
</html>