<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALS-Collaborative Korean</title>
        <link rel="stylesheet" href="/css/design.css" type="text/css">
        <link rel="stylesheet" href="/css/task1Elements.css" type="text/css">
        
        <!-- Jquery file and lib -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src = "/js/task4.js"></script>

        <!-- For draggable -->
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
    </head>
    <body>
        <!--Create ProgressBar on top-->
        <progress-bar progress = <%=progress%> title = "<%= title %>" ></progress-bar> 

        <!-- Create english-korean label on top -->
        <div class="taskLabel" style = "top: 25%; left: 50%; transform: translate(-50%, 0);"> <p class="taskLabelText"><%= word %></p> </div>

        <form style="position: absolute; left: 50%; top: 45%; transform: translate(-50%, 0);">   
            <input id = "input" type="text" name="Name" size="10" > 
        </form>
        

        
        <button id = "check" class="button btnNext" onclick="check();" style = "top: 65%; left: 50%; transform: translate(-50%, 0);" >
            <h1 class="nextText">Check</h1>
        </button>

        <div id = "correction" class="infoBox" style="position: absolute; left: 50%; top: 70%; transform: translate(-50%, -50%);">
            <b id = "correctionText" class = "infoText"></b>
        </div>
        <button id = "continue" class="button btnNext" onclick="nextEx();" style = "top: 85%; left: 50%; transform: translate(-50%, 0);" >
            <h1 class="nextText">Continue</h1>
        </button>
    </body>

    <script>
        var solution = "<%= solution%>";
    </script>
    <script src = "/js/progressBar.js"></script>
</html>