
.englishLabel {
    position: absolute;
    height: 7vw;
    border-style: solid;
    text-align: center;
    border-radius: 2vh;
    border-color: #6F86A9;
    background-color: #6F86A9;
    padding: 0;
    background-image: url("/images/speaker.png");
    background-size: 10%;
    background-position-x: 2%;
    background-position-y: 2%;
    background-repeat: no-repeat;
}

.koreanLabel {
    position: absolute;
    height: 7vw;
    border-style: solid;
    text-align: center;
    border-radius: 2vh;
    border-color: #3A69AF;
    background-color: #3A69AF;
    padding: 0;
}

.emptyLabel {
    position: absolute;
    height: 7vw;
    border-style: solid;
    border-radius: 2vh;
    border-color: black;
    padding: 0;
}


.taskLabel{
    position: absolute;
    height: 4vw;
    border-style: solid;
    text-align: center;
    border-radius: 2vh;
    border-color: #6F86A9;
    background-color: #6F86A9;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;

  }

  .taskLabelText{
    top: 50%;
    font-size: 3vw;
    color: white;
    margin: 0;
  }